.page-header {
    border: none;
    border-radius: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 2px 3px rgb(0 0 0 / 4%);
    .container {
        width: 80%;
        height: 50px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;
        .category {
            display: flex;
            align-items: center;
            .item {
                margin-right: 16px;
                font-size: 14px;
                font-weight: 500;
            }
        }
        .person {
            display: flex;
            align-items: center;
            div {
                height: auto;
                margin-left: 16px;
                display: flex;
                align-items: center;
            }
        }
    }
}
.page-content {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    .content {
        display: grid;
        grid-template-columns: 700px 300px;
        grid-column-gap: 16px;
        min-height: 200px;
        .card-left {
            display: grid;
            grid-template-rows: auto auto auto;
            grid-row-gap: 16px;
            .side-carousel {
                height: 400px;
                background: #fff;
                display: flex;
                justify-content: center;
            }
            .side-doc {
                height: 200px;
                background: #fff;
            }
            .side-article {
                height: 600px;
                background: #fff;
            }
        }
        .card-right {
            .side-tags {
                min-height: 300px;
                height: auto;
                background: #fff;
                margin-bottom: 16px;
            }
            .side-group {
                min-height: 400px;
                height: auto;
                background: #fff;
                margin-bottom: 16px;
            }
            .side-friendship {
                min-height: 150px;
                height: auto;
                background: #fff;
            }
        }
    }
}
