.pageContent {
    display: flex;
    justify-content: center;
    .content {
        display: grid;
        grid-template-columns: 700px 300px;
        grid-column-gap: 16px;
        min-height: 200px;
        .cardLeft {
            display: grid;
            grid-template-rows: 400px 200px minmax(600, auto);
            grid-row-gap: 16px;
            .sideCarousel {
                background: #fff;
                display: flex;
                justify-content: center;
            }
            .sideDoc {
                background: #fff;
            }
            .sideArticle {
                background: #fff;
            }
        }
        .cardRight {
            .sideTags {
                min-height: 300px;
                height: auto;
                background: #fff;
                margin-bottom: 16px;
            }
            .sideGroup {
                min-height: 400px;
                height: auto;
                background: #fff;
                margin-bottom: 16px;
            }
            .sideFriendship {
                min-height: 150px;
                height: auto;
                background: #fff;
            }
        }
    }
}