.page-header {
    border: none;
    border-radius: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 2px 3px rgb(0 0 0 / 4%);
    .container {
        width: 80%;
        height: 50px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;
        .category {
            display: flex;
            align-items: center;
            .item {
                margin-right: 16px;
                font-size: 14px;
                font-weight: 500;
            }
        }
        .person {
            display: flex;
            align-items: center;
            div {
                height: auto;
                margin-left: 16px;
                display: flex;
                align-items: center;
            }
        }
    }
}
.page-content {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    .content {
        display: grid;
        grid-template-columns: 700px 300px;
        grid-column-gap: 16px;
        min-height: 200px;
        .card-left {
            display: grid;
            grid-template-rows: 400px 200px minmax(600, auto);
            grid-row-gap: 16px;
            .side-carousel {
                background: #fff;
                display: flex;
                justify-content: center;
            }
            .side-doc {
                background: #fff;
            }
            .side-article {
                background: #fff;
            }
        }
        .card-right {
            .side-tags {
                min-height: 300px;
                height: auto;
                background: #fff;
                margin-bottom: 16px;
            }
            .side-group {
                min-height: 400px;
                height: auto;
                background: #fff;
                margin-bottom: 16px;
            }
            .side-friendship {
                min-height: 150px;
                height: auto;
                background: #fff;
            }
        }
    }
}
.page-footer {
    color: #c0c6cc;
    text-align: center;
    padding: 20px 0 20px;
    position: relative;
    font-size: 12px;
    .line-01 {
        div {
            display: inline-block;
            margin-right: 20px;
        }
    }
    .line-02 {
        margin-top: 12px;
    }
}
.page-tool {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
