.page-edit {
    .layout {
        padding: 0 20px;
        .header {
            height: 48px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .content {
            display: flex;
            .bf-controlbar {
                display: flex;
                flex-wrap: wrap;
                * {
                    flex: none;
                }
            }
            .editor {
                width: 50%;
                min-height: 800px;
                background-color: #fff; 
            }
            .preview {
                margin-left: 2%;
                width: 48%;
                min-height: 800px;
                background-color: #fff;
            }
        }
    }
}
