.carousel {
    width: 700px;
    .carousel-01,
    .carousel-02,
    .carousel-03,
    .carousel-04 {
        width: 700px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .carousel-01 {
        background-image: url('~@/assets/images/01.png');
    }
    .carousel-02 {
        background-image: url('~@/assets/images/02.png');
    }
    .carousel-03 {
        background-image: url('~@/assets/images/03.png');
    }
    .carousel-04 {
        background-image: url('~@/assets/images/04.png');
    }
}
