.pageContent {
    display: flex;
    justify-content: center;
    .content {
        display: grid;
        grid-template-columns: 700px 300px;
        grid-column-gap: 16px;
        min-height: 200px;
        .cardLeft {
            .pageShow {
                .layout {
                    padding: 20px 20px;
                    .content {
                        margin: auto;
                        background-color: #fff;
                        padding: 20px;
                        width: 60%;
                        .title {
                            font-size: 32px;
                        }
                        .preview {
                            min-height: 720px;
                        }
                    }
                }
            }
        }
        .cardRight {
            .sideTags {
                min-height: 300px;
                height: auto;
                background: #fff;
                margin-bottom: 16px;
            }
            .sideGroup {
                min-height: 400px;
                height: auto;
                background: #fff;
                margin-bottom: 16px;
            }
            .sideFriendship {
                min-height: 150px;
                height: auto;
                background: #fff;
            }
        }
    }
}
