.pageContent {
    display: flex;
    justify-content: center;
    .content {
        display: grid;
        grid-template-columns: 700px 300px;
        grid-column-gap: 16px;
        min-height: 200px;
        .cardLeft {
            .pageShow {
                border-radius: 5px;
                .layout {
                    width: 700px;
                    .breadCrumb{
                        height: 48px;
                        line-height: 48px;
                        background-color: #fff;
                        padding: 0 20px;
                        font-size: 14px;
                        border-bottom: 1px solid #e4e4e4;
                    }
                    .braftContent {
                        background-color: #fff;
                        padding: 20px;
                        min-height: 720px;
                    }
                }
            }
        }
        .cardRight {
            .sideTags {
                min-height: 300px;
                height: auto;
                background: #fff;
                margin-bottom: 16px;
                border-radius: 5px;
            }
            .sideGroup {
                min-height: 400px;
                height: auto;
                background: #fff;
                margin-bottom: 16px;
                border-radius: 5px;
            }
            .sideFriendship {
                min-height: 150px;
                height: auto;
                background: #fff;
                border-radius: 5px;
            }
        }
    }
}
