.page-show {
    .layout {
        margin: auto;
        padding: 20px;
        width: 80%;
        .header {
            background-color: #fff;
            padding: 20px;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 30px;
        }
        .content {
            background-color: #fff;
            width: 100%;
            .item {
                padding: 8px;
                width: 100%;
            }
        }
    }
}
