.pageAdd {
    .layout {
        width: 100vw;
        .content {
            padding: 0 20px;
            display: flex;
            justify-content: center;
            .bfControlBar {
                display: flex;
                flex-wrap: wrap;
                * {
                    flex: none;
                }
            }
            .editor {
                width: 920px;
                min-height: 800px;
                background-color: #fff;
            }
        }
    }
}
.preview {
    height: 88vh;
    background-color: #fff;
}
.Form {
    .item {
        display: flex;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        .label {
            min-width: 60px;
        }
    }
}
